.example {
    overflow: hidden;
}

.example-row {
    display: flex;
    justify-content: space-between;
}

.example-title {
    font-family: "Oswald";
    font-size: 60px;
    line-height: 1;
    margin-bottom: 70px;
    padding-bottom: 76px;
    background: #fff;
    position: relative;
    z-index: 1;
}

.example-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100vw;
    width: 200vw;
    height: 100%;
    background-color: #fff;
    z-index: -1;
}

.example-options {
    max-width: 436px;
}

.example-options-description {
    font-family: "Arial";
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 69px;
}

.example-options-parametres {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.example-options-parametres-item {
    min-width: 162px;
    font-family: "Oswald";
    font-size: 30px;
    line-height: 37px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    padding: 15px 0 20px;
}

.example-options-parametres-item span {
    font-family: "Arial";
    font-size: 14px;
    line-height: 1;
    margin: 0 auto -27px;
    padding: 11px 9px 0;
    color: #444444;
    background-color: #f2f2f2;
}

.example-options-total {
    display: flex;
    justify-content: space-between;
    font-family: "Oswald";
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 75px;
    padding-right: 50px;
}

.example-slider {
    position: relative;
    width: 400px;
    height: 330px;
    display: flex;
    margin-top: 9px;
}
.example-slider-wrapper {
    width: 400px;
    height: 330px;
    margin-left: auto;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
}
.example-slider-description {
    font-size: 20px;
    line-height: 30px;
    font-family: Oswald;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto auto 8px;
    position: relative;
    z-index: 0;
}
.example-slider-description::before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    border-radius: 6px;
    background: #dcdcdc;
    margin-top: 19px;
}
.example-slider-description div:first-child {
    margin-left: -66px;
}
.example-slider-description div:last-child {
    margin-right: -66px;
}
.example .before, .example .after {
    width: 100%;
    height: 100%;
    background: center/cover no-repeat #f2f2f2;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.example .content-image {
    max-width: 400px;
}
.example .scroller {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 100px;
    top: calc(100% + 52px);
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: transparent;
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}
.example .scroller:hover {
    opacity: 1;
}
.example .scroller__thumb {
    width: 100%;
    height: 100%;
}
