.first-screen {
    padding-top: 223px;
    margin-top: -111px;
    background: url(../img/first-screen-bg.png) calc(50% + 114px) 163px no-repeat;
    position: relative;
    min-height: 720px;
}

.first-screen::before {
    content: "";
    background: url(../img/index-bg-before.png);
    position: absolute;
    width: 50vw;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -1;
}

.first-screen h1 {
    max-width: 414px;
    margin-bottom: 40px;
}

.first-screen h4 {
    margin-bottom: 52px;
}

.first-screen a.btn.btn-primary {
    background-color: #68B738;
    border: none;
    border-radius: 0;
    padding: 14px 26px;
    font-family: 'Oswald';
    font-size: 20px;
    text-transform: uppercase;
}