@media screen and (max-width: 991px) {
    .navbar-brand img {
        height: 37px;
    }

    .navbar-brand {
        padding: 0;
    }

    .navbar-nav {
        margin: auto;
    }

    .container-fluid {
        padding: 11px 8px 17px;
    }
    
    header span {
        margin-top: 2px;
    }

    .homepage .navbar-nav .nav-item a,
    .formpage .navbar-nav .nav-item a,
    .catalog-page .navbar-nav .nav-item a {
        margin-top: 0px;
        color: #000;
        padding: 0px;
    }

    .first-screen {
        padding-top: 27px;
        margin-top: 0;
        margin-bottom: 175px;
        background: none;
    }

    .first-screen::after {
        content: "";
        background: url(../img/first-screen-bg.png) center/contain no-repeat;
        width: 280px;
        height: 270px;
        position: absolute;
        top: 163px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .first-screen .container {
        padding: 0 35px;
        min-height: 305px;
    }

    .first-screen::before {
        content: "";
        background: url(../img/index-bg-before.png) center/cover no-repeat;
        width: 100vw;
    }

    .first-screen h1 {
        color: #fff;
        text-align: center;
        margin: 0 auto 25px;
        font-size: 36px;
        line-height: 1;
        text-transform: uppercase;
    }

    .first-screen h4 {
        color: #fff;
        text-align: center;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
    }

    .first-screen .btn {
        position: absolute;
        bottom: -175px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .row {
        flex-direction: column;
    }

    header .navbar .navbar-nav {
        padding: 36px 15px 12px;
        display: flex;
        align-items: center;
    }

    .category-item {
        padding: 22px 20px;
        position: relative;
    }

    .category-item::before {
        content: "";
        position: absolute;
        width: 100%;
        background-color: #D9D9D9;
        height: 1px;
        bottom: 63px;
    }

    .category-item h2 {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 22px;
    }

    .category-item-description {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 42px;
    }

    .category-item-description a {
        font-size: 16px;
        line-height: 1;
    }

    .how-it-works-title {
        font-size: 36px;
        line-height: 40px;
    }

    .how-it-works-item {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        width: 100%;
        height: 60px;
        margin-bottom: 20px;
    }

    .how-it-works-item-icon-box {
        min-width: 60px;
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }

    .how-it-works-item-description {
        width: 100%;
        font-size: 14px;
        line-height: 18px;
    }

    .how-it-works ol {
        padding-left: 0;
    }

    .how-it-works ol li:before {
        display: none;
    }

    .example {
        margin-bottom: 60px;
    }

    .example-row {
        flex-direction: column;
    }

    .example-title {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 33px;
        padding-bottom: 0px;
    }

    .example-options {
        margin-bottom: 42px;
    }

    .example-options-description {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 25px;
    }

    .example-options-parametres {
        margin-bottom: 34px;
    }

    .example-options-total {
        justify-content: center;
    }

    .example-slider {
        margin-bottom: 72px;
        margin-top: -130px;
    }

    .example-slider-wrapper {
        max-width: 300px;
        height: 269px;
        margin-left: auto;
        position: absolute;
        left: 40%;
        top: 150px;
        transform: translate3d(-50%, -50%, 0);
        z-index: 1;
    }

    .example-slider-description {
        font-size: 16px;
        width: 50%;
        margin: auto auto 18px;
    }

    .example .scroller {
        top: calc(100% + 20px);
    }

    .map {
        width: 100%;
        height: 362px;
        margin-bottom: 158px;
    }

    .map-description {
        top: -114px;
        height: 114px;
        width: 320px;
        left: 20px;
    }

    .map-description .map-description-info {
        font-size: 16px;
        line-height: 1;
    }

    .map-description address span {
        font-size: 14px;
        line-height: 18px;
    }

    .map address span:first-child {
        margin-bottom: 0;
    }

    .form .map-description {
        position: static;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 20px;
        height: 114px;
    }

    footer {
        height: 158px;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .footer-logo {
        margin: 40px auto 57px;
    }

    .form .container {
        padding: 0 20px;
    }

    .form-title {
        font-size: 36px;
        line-height: 1;
        margin-top: 44px;
        position: relative;
    }

    .form-title::before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #D9D9D9;
        position: absolute; 
        top: -46px;
    }

    .title-description {
        font-size: 14px;
        line-height: 18px;
    }

    .row-block {
        flex-direction: column;
        padding: 0;
        margin-bottom: 26px;
    }

    .info-cat {
        margin: 0 0 24px 0;
    }

    .info-cat .label-input {
        width: 100%;
    }

    .info-cat .label-input input,
    .info-cat .label-input label,
    .requirement .label-input input,
    .requirement .label-input label {
        font-size: 16px;
        line-height: 18px;
    }

    .row-block .info-cat {
        border-bottom: 1px solid #D9D9D9;
    }

    .row-block .requirement {
        padding: 21px 0;
        border: none;
        border-bottom: 1px solid #D9D9D9;
    }

    .contacts {
            padding: 0;
    }

    .contacts .contact-title {
        font-size: 24px;
        line-height: 1.5;
        width: 210px;
        height: 52px;
        margin-bottom: 32px;
        text-align: center;
        background-color: white;
        padding-right: 20px;
    }

    .contacts .contact-title span {
        padding: 5px;
        margin-left: 0;
    }

    .contacts .contact-items {
        flex-direction: column;
        margin-bottom: 28px;
    }

    .contacts .contact-items .email,
    .contacts .contact-items .tel {
        width: 100%;
    }

    .contacts .contact-items .email {
        margin-bottom: 20px;
    }

    .customer-comments {
        padding: 0;
        margin-bottom: 27px;
    }

    .customer-comments .customer-comments-title {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 33px;
    }

    .customer-comments .customer-comments-title span::before {
        top: 20px;
    }

    .customer-comments textarea {
        height: 150px;
        width: 100%;
        font-size: 12px;
        line-height: 18px;
        padding: 13px 13px 10px 13px;
    }

    .additionally .additionally-title {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 33px;
    }

    .additionally .additionally-title span::before {
        top: 20px;
    }

    .additionally .check-box-items {
        flex-direction: column;
        margin: 0;
    }

    .additionally .check-box-items .checkbox {
        margin-bottom: 13px;
    }

    .additionally .check-box-items .checkbox label {
        font-size: 16px;
        line-height: 18px;
    }

    .checkbox input[type=checkbox] + label:before {
        width: 30px;
        height: 30px;
    }

    .submit-button {
        flex-direction: column;
        margin: 0 auto;
    }

    .submit-button .btn {
        margin: 0;
        padding: 7px 68px;
        margin-bottom: 21px;
    }

    .catalog-title {
        font-size: 36px;
        line-height: 1;
        margin-bottom: 60px;
    }

    .product-item {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        min-width: 320px;
        width: 100%;
        height: 190px;
        justify-content: space-between;
        background-color: #fff;
        margin-bottom: 40px;
    }

    .product-item-img {
        top: 26px;
        width: 75px;
        height: 112px
    }

    .first-item {
        background-position: 6px 245px;
    }
    
    .second-item {
        background-position: -81px 232px;
    }
    
    .third-item {
        background-position: -163px 254px;
    }
    
    .fourth-item {
        background-position: -250px 237px;
    }
    
    .fifth-item {
        background-position: -341px 253px;
    }
    
    .sixth-item {
        background-position: -430px 237px;
    }
    
    .seventh-item,
    .eighth-item {
        background-position: -525px 249px;
    }

    .product-item-description {
        min-width: 142px;
        width: 50%;
        margin: 0;
        margin-bottom: 22px;
        margin-left: auto;
    }

    .product-item-title {
        font-size: 16px;
        line-height: 1.25;
    }

    .product-item-mass,
    .product-item-taste,
    .product-item-price {
        font-size: 12px;
        line-height: 16px;
    }

    .product-item-mass::before,
    .product-item-price::before,
    .product-item-taste::before {
        display: none;
    }

    .product-item .btn {
        width: 100%;
    }

    .additional-block {
        flex-direction: column;
    }

    .adiitional-table-box {
        margin-bottom: 40px;
    }

    .additional-title span {
        font-size: 24px;
        line-height: 1;
        padding: 0 22px;
        margin-left: -14px;
    }

    .additional-title span::before {
        top: 22px;
    }

    .promo {
        width: 280px;
        height: 289px;
        margin: 0 auto;
        margin-bottom: 63px;
        background: url(../img/promo-bg-mobile.svg) no-repeat;
    }

    .promo::before {
        top: 58px;
        left: 101px;
    }

}